@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-blue: #56a4c1;
  --main-blue-80: rgba(86, 164, 193, 0.8);
  --main-light-blue: #80d9ea;
  --main-diamond: #bdecf4;
  --main-dark-blue: #1c3850;
  --main-white: #fafeff;
  --main-gray: #4a5257;

  --background-light: #f2f2f2;
  --background-dark: #242424;
  --foreground-light: #171717;
  --foreground-dark: #ededed;

  --background: #f2f2f2;
  --foreground: #171717;
}
.light {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
}

.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.animate-fade-up {
  animation: fade-up 1s ease-in-out;
  -webkit-animation: fade-up 2s ease-in-out infinite;
}

@-webkit-keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
